.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  transition: opacity 0.3s;
  background-image: url(../../../images/AvatarEditCoursor.svg);
  cursor: pointer;
  position: absolute;
}

.profile__avatar:hover {
  opacity: 0.2;
}


